*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url(../images/field-stripes.jpg);
  background-size: cover;
  background-repeat: none;
  background-color: white;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 1000px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  padding: 1em 5em;
  background: #FAFAFA;
  border-radius: 10px;
  
}

body > .container {
  border: 1px solid black;
}

input {
  color: black;
  width: 100%;
  margin-bottom: 1em;
  border-radius: .25em;
  padding: .25em;
  outline: none;
  border: 1px solid #828c91;
}

input[type=radio] {
  display: inline;
}

label {
  display: inline;
}

header {
  width: 116.3%;
  text-align: center;
  font-size: 2em;
  margin-top: -.5em;
  margin-left: -2.5em;
  margin-right: -2.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #EEEEEE;
}

header a, header a:visited {
  color: #333333;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}

header a:hover {
  text-decoration: none;
  color: #000000;
}

#add-teams {
  float: right;
  position: relative;
  bottom: 1em;
}

#page-title {
  color: white;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  position: relative;
  left: 12em;
  top: 2em;
}

