*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: white;
  background-color: #19ABB5;
  background: url(../images/karaoke-background-teal.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

header {
  overflow: auto;
  padding-bottom: 1em;
}

footer {
  padding: 2em 0;
  position: absolute;
  bottom: 0;
}

main {
  padding-bottom: 3em;
}

a, a:visited {
  color: #f7941e;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
    color: #f26539;
  }

ul {
  list-style-type: none;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 1em 5em;
  background:rgba(0, 0, 0, 0.6);
}


label {
  display: block;
  padding-bottom: .5em;
}

input {
  color: black;
  width: 100%;
  margin-bottom: 1em;
  border-radius: .25em;
  padding: .25em;
  outline: none;
  border: 1px solid #828c91;
}

  input[type=submit] {
    margin-top: 1em;
    padding: 1.5em;
    border: none;
  }

  input:focus {
    border-color: #10abb5;
  }

