<div class="container">

  <% unless session[:user_id] %>
    <div class="jumbotron">
      <h1>Welcome to TeamUp!</h1>
      <p>Follow all your favorite sports teams, all in one place. To get started, sign up, log in, or view our list of sports.</p>
    </div>
  <% else %>
    <h3>Browse Sports:</h3>
  <% end %>

  <div class="list-group">
    <% @sports.each do |sport| %>
      <a href=<%= "/sports/#{sport.id}" %> class="list-group-item"><%= sport.name.capitalize %></a>
    <% end %>
  </div>

</div>
