<div class="container">
  <h2>Team Up: Your Personal Sports News Manager</h2>

  <h4><%= @sport.name.capitalize %></h4>
  <ul>
    <% @sport.teams.order(:city).each do |team| %>
      <li><a href=<%= "/teams/#{team.id}" %>><%= "#{team.city} #{team.name}" %></a></li>
    <% end %>
  </ul>
</div>
