<div class="container">
  <h1>Welcome To TeamUp</h1>
  <% if session[:errors] %>
    <p class="errors">Invalid signup info</p>
  <% end %>
  <h4>Sign Up Here</h4>

  <form method="post" action="/users/new">
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Create Account">
  </form>

</div>
