<div class="container">
  <h1>Welcome to TeamUp!</h1>
  <h4>Please log in:</h4>
  <form method="post" action="/users">
    <input type="text" name="username" placeholder="password">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Log In">
  </form>

  <a href="/index">Back to Home</a>
</div>